#ccl-add-form .form-radios div.form-item{
  display: inline-block;
}


#ccl-add-form .form-radios label{
  display: inline-block;
  padding: 0 1rem 0 0;
}

#ccl-add-form .form-radios label.ui-state-active{
  background-color: #ddd;
}
